@use "../variables" as *

//Showcase / Shelf
.savings--summary_percentage
    position: absolute
    z-index: 90
    left: 10px
    top: 10px
    background-color: $sec-color
    border-radius: 4px
    padding: 1px 6px
    //span
    .savingsPercentage--summary_percentage
        font-weight: 500
        font-family: $main-font
        font-size: 0.8125em
        color: #fff
        display: block