@use "../variables" as *

//Showcase / Shelf
.savings--summary_percentage
    position: absolute
    z-index: 90
    left: 10px
    top: 0
    background-color: $sec-color
    border-radius: 4px
    padding: 1px 6px
    //span
    .savingsPercentage--summary_percentage
        font-weight: 500
        font-family: $main-font
        font-size: 0.8125em
        color: #fff
        display: block


// Prices
.listPrice--summary
    align-content: center
    margin: 1px 0 0
    .currencyContainer--summary
        font-size: 0.8124rem
        font-family: $main-font
        font-weight: 300
        color: #000
    
.sellingPriceValue--summary
    font-family: $main-font
    font-weight: 700
    font-size: 0.875rem



// Installments
.installments--summary
    margin: 0