.imageElement--carousel {
  width: auto !important;
}

.sliderLayoutContainer {
  min-height: unset !important;
  background-color: #fff !important;
}

.slide {
  padding: 0 4px !important;
}

.slideChildrenContainer--shelf {
  border: 1px solid #f6f6f6;
  border-radius: 8px;
}
