.openIconContainer {
  padding: 6px;
}
.openIconContainer :global(.vtex-button) {
  border: none;
}
.openIconContainer :global(.vtex-button):hover {
  background-color: transparent;
}
.openIconContainer :global(.vtex-button__label) {
  padding: 0;
}
.openIconContainer .minicartQuantityBadge {
  background-color: #000000;
  color: #fff;
  font-size: 0.5rem;
  font-weight: 600;
  top: 2px;
  right: 0;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}

.minicartIconContainer::before {
  content: "";
  display: flex;
  width: 30px;
  height: 31px;
  background-image: url("assets/minicart-header.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.1s ease;
}
.minicartIconContainer:hover::before {
  transform: scale(1.2);
}
.minicartIconContainer .cartIcon {
  display: none;
}
