.paragraph--topbar-message {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin: 0.625rem 0;
}
.paragraph--topbar-message .strong--topbar-message {
  font-weight: 600;
}

.paragraph--warning-message {
  margin: 0.625rem 0;
  background-color: #000;
  color: #fff;
  height: 24px;
  font-weight: 700;
  font-size: 0.625rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
