.menuContainerNav .styledLinkContainer {
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
  padding: 0;
}
.menuContainerNav .styledLinkContainer .styledLink {
  display: flex;
  border-radius: 4px;
  padding: 0 18px;
  background-color: #FAFAFA;
  min-height: 36px;
  border: 1px solid transparent;
  transition: all 0.1s ease;
}
.menuContainerNav .styledLinkContainer .styledLink:hover {
  border-color: #FFB802;
  transform: scale(1.05);
}
.menuContainerNav .styledLinkContainer .styledLink--highlight {
  border: none;
  background-color: transparent;
  padding: 0;
}
.menuContainerNav .styledLinkContainer .styledLink--highlight .styledLinkContent {
  color: #FFB802;
}
.menuContainerNav .styledLinkContainer .styledLinkIcon {
  margin: 0 0.5rem 0 0;
}
.menuContainerNav .styledLinkContainer .styledLinkContent {
  font-size: 0.875rem;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
}
.menuContainerNav .styledLinkContainer .styledLinkContent--has-submenu::after {
  content: "";
  width: 11px;
  height: 7px;
  background-image: url("assets/menu-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 8px;
}

.menuItem--isOpen .styledLinkContent--has-submenu::after {
  transform: rotate(180deg);
}

.submenuWrapper {
  margin: 0;
  width: 100%;
}

.submenuContainer:not(.forceStyle) {
  position: static;
}
.submenuContainer:not(.forceStyle) .flexRowContent--category-menu {
  justify-content: center;
  padding-bottom: 1rem;
  position: relative;
}
.submenuContainer:not(.forceStyle) .submenu {
  justify-content: start;
}

.menuItem .menuItem .styledLink {
  margin-bottom: 0.5rem;
}
.menuItem--first-submenu .styledLinkContainer {
  margin: 0;
}
.menuItem--first-submenu .submenuWrapper {
  padding: 0 2rem;
  border: none;
}

.submenuContainer--thirty-menu:not(.forceStyle) .submenuWrapper--thirty-menu {
  display: flex;
  position: relative;
}
