.imageElement--topbar-star {
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.logoContainer.sizeDesktop {
  padding: 0;
  margin-right: 60px;
}

.searchBarContainer {
  padding: 0;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  height: 52px;
  line-height: 52px;
  border-radius: 5px;
  border: none;
}
.searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
  border: none;
  background-color: #F5F5F5;
  padding: 0 26px;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #737373;
}
.searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
  padding: 0;
}
.searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) :global(.vtex-store-components-3-x-searchBarIcon) {
  margin: 0;
  background-color: #FFB802;
  transition: all 0.1s ease;
}
.searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) :global(.vtex-store-components-3-x-searchBarIcon):hover {
  transform: scale(1.05);
}
.searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) :global(.vtex-store-components-3-x-searchBarIcon) :global(.vtex-store-components-3-x-searchIcon) {
  width: 22px;
  height: 22px;
}
.searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) :global(.vtex-store-components-3-x-externalSearchButtonWrapper) {
  border: none;
}
.searchBarContainer :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) :global(.vtex-store-components-3-x-searchBarIcon--clear) {
  display: none;
}

.imageElementLink--wishlist-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.imageElement--wishlist-icon {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: transform 0.1s ease;
}
.imageElement--wishlist-icon:hover {
  -o-object-position: bottom;
     object-position: bottom;
  transform: scale(1.1);
}
