.flexRow--header-topbar {
  background-color: #F3A07A;
  background-image: url("assets/upper-gradient2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexCol.flexCol--topbar-col {
  flex-direction: row;
}

.flexColChild--topbar-col {
  display: flex;
}

.flexRowContent--main-header {
  background-color: #fff !important;
  justify-content: space-between;
  padding: 1rem 0 !important;
}

.flexCol--desk-header-col {
  flex-wrap: wrap;
  flex-direction: row;
}

.flexColChild--desk-header-col {
  width: 100%;
  align-items: center;
  display: flex;
}

.flexRowContent--container {
  position: relative;
}

.flexRow--home-deals {
  background-color: rgba(245, 245, 245, 0.9607843137);
  padding: 45px 0;
}
.flexRow--home-deals :global(.vtex-store-components-3-x-container) {
  padding: 0;
  max-width: unset;
}
.flexRow--home-deals :global(.vtex-flex-layout-0-x-flexCol) {
  flex-direction: row;
  align-items: center;
}

.flexColChild--container.flexColChild--deals {
  margin: auto;
}
.flexColChild--container.flexColChild--deals :global(.vtex-rich-text-0-x-paragraph--deals) {
  color: #545454;
}
.flexColChild--container.flexColChild--deals .flexCol--dealsImage {
  margin: 0 20px;
}
.flexColChild--container.flexColChild--deals .flexColChild--dealsImage {
  display: flex;
  align-items: center;
}
.flexColChild--container.flexColChild--deals .flexColChild--dealsImage :global(.vtex-store-components-3-x-imageElement) {
  margin-right: 12px;
  max-height: initial !important;
  max-width: unset;
}
.flexColChild--container.flexColChild--deals .flexColChild--dealsImage :global(.vtex-rich-text-0-x-paragraph--deals) {
  text-align: left;
  text-wrap: nowrap;
  line-height: 1;
}

.flexCol--container, .flexRow--container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.flexCol--top-wrap {
  position: relative;
  height: auto;
  margin-bottom: 10px;
}
.flexCol--top-wrap:hover .flexRow--top-buy-btn {
  display: block;
}

.flexRow--top-buy-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 90;
  display: none;
}
.flexRow--top-buy-btn :global(.vtex-button) {
  border: none;
  background-color: #000;
  border-radius: 0;
}
.flexRow--top-buy-btn :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
}

.flexRowContent--selling-price-savings {
  margin-bottom: 5px;
}
