.flexRow--header-topbar {
  background-color: #F3A07A;
  background-image: url("assets/upper-gradient2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexCol.flexCol--topbar-col {
  flex-direction: row;
}

.flexColChild--topbar-col {
  display: flex;
}

.flexRowContent--main-header {
  background-color: #fff !important;
  justify-content: space-between;
  padding: 1rem 0 !important;
}

.flexCol--desk-header-col {
  flex-wrap: wrap;
  flex-direction: row;
}

.flexColChild--desk-header-col {
  width: 100%;
  align-items: center;
  display: flex;
}

.flexRowContent--container {
  position: relative;
}

.flexRow--home-deals {
  background-color: rgba(245, 245, 245, 0.9607843137);
  padding: 45px 0;
}
.flexRow--home-deals :global(.vtex-store-components-3-x-container) {
  padding: 0;
  max-width: unset;
}
.flexRow--home-deals :global(.vtex-flex-layout-0-x-flexCol) {
  flex-direction: row;
  align-items: center;
}

.flexColChild--container.flexColChild--deals {
  margin: auto;
}
.flexColChild--container.flexColChild--deals :global(.vtex-rich-text-0-x-paragraph--deals) {
  color: #545454;
}
.flexColChild--container.flexColChild--deals .flexCol--dealsImage {
  margin: 0 20px;
}
.flexColChild--container.flexColChild--deals .flexColChild--dealsImage {
  display: flex;
  align-items: center;
}
.flexColChild--container.flexColChild--deals .flexColChild--dealsImage :global(.vtex-store-components-3-x-imageElement) {
  margin-right: 12px;
  max-height: initial !important;
  max-width: unset;
}
.flexColChild--container.flexColChild--deals .flexColChild--dealsImage :global(.vtex-rich-text-0-x-paragraph--deals) {
  text-align: left;
  text-wrap: nowrap;
  line-height: 1;
}

.flexRow--home-banner-1 :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
.flexRow--home-banner-1 :global(.vtex-store-components-3-x-container) .flexCol--banner-1-col-1 {
  padding-right: 1rem;
}
.flexRow--home-banner-1 :global(.vtex-store-components-3-x-container) .flexCol--banner-1-col-2 :global(.vtex-store-components-3-x-imageElementLink) {
  padding-bottom: 15px;
}
.flexRow--home-banner-1 :global(.vtex-store-components-3-x-container) .flexCol :global(.vtex-store-components-3-x-imageElementLink) {
  display: flex;
}

.flexRow--home-banner-2 :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
.flexRow--home-banner-2 :global(.vtex-store-components-3-x-container) .flexCol--banner-2-four-side-by-side {
  padding: 0 8px 0 7px;
}

.flexRow--home-banner-3 :global(.vtex-store-components-3-x-container) {
  padding: 0;
}
.flexRow--home-banner-3 .flexCol--banner-3-two.flexCol--banner-3-col-1 {
  padding-right: 10px;
}
.flexRow--home-banner-3 .flexCol--banner-3-two.flexCol--banner-3-col-2 {
  padding-left: 10px;
}

:global(.vtex-render__container-id-bg-gray-section) {
  background-color: rgba(238, 238, 238, 0.9607843137);
}
:global(.vtex-render__container-id-bg-gray-section) :global(.vtex-store-components-3-x-container) {
  padding: 0 0 2rem;
}
:global(.vtex-render__container-id-bg-gray-section) .flexRow--home-bg-gray-section-content {
  margin: 0 -10px;
}
:global(.vtex-render__container-id-bg-gray-section) .flexRowContent--home-bg-gray-section-content .flexCol {
  border: 1px solid #BCBABA;
  border-radius: 8px;
  align-items: center;
  padding: 2rem 1rem;
}
:global(.vtex-render__container-id-bg-gray-section) .flexRowContent--home-bg-gray-section-content .stretchChildrenWidth {
  padding: 0 10px;
}
:global(.vtex-render__container-id-bg-gray-section) .flexRowContent--home-bg-gray-section-content :global(.vtex-rich-text-0-x-heading) {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 0.875rem;
  font-family: Poppins, sans-serif;
}
:global(.vtex-render__container-id-bg-gray-section) .flexRowContent--home-bg-gray-section-content :global(.vtex-rich-text-0-x-paragraph) {
  font-weight: 300;
  font-size: 0.75rem;
  font-family: Poppins, sans-serif;
  padding: 0 4.375rem;
  margin: 0;
}

.flexRow--static-instagram {
  padding: 2rem 0;
}
.flexRow--static-instagram :global(.vtex-rich-text-0-x-paragraph) {
  margin: 0;
  font-weight: 300;
  font-size: 1.25rem;
  font-family: Poppins, sans-serif;
  max-width: 80%;
  text-align: left;
}

.flexCol--static-instagram-right :global(.vtex-slider-layout-0-x-caretIcon) {
  display: none !important;
}
.flexCol--static-instagram-right :global(.vtex-slider-layout-0-x-slide) {
  margin-bottom: 0 !important;
}

.flexColChild--static-instagram-left :global(.vtex-rich-text-0-x-container) {
  height: 100%;
  padding: 0 33px;
  box-shadow: 9px 0px 8px -8px rgba(0, 0, 0, 0.2509803922);
  margin-right: 5px;
}
.flexColChild--static-instagram-right {
  padding: 0 3rem;
}
.flexColChild--static-instagram-right :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  left: -3rem;
}
.flexColChild--static-instagram-right :global(.vtex-slider-layout-0-x-sliderRightArrow) {
  right: -3rem;
}

.flexCol--container, .flexRow--container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.flexCol--top-wrap {
  position: relative;
  height: auto;
  margin-bottom: 10px;
}
.flexCol--top-wrap:hover .flexRow--top-buy-btn {
  display: block;
}

.flexRow--top-buy-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 90;
  display: none;
}
.flexRow--top-buy-btn :global(.vtex-button) {
  border: none;
  background-color: #000;
  border-radius: 0;
}
.flexRow--top-buy-btn :global(.vtex-button) :global(.vtex-add-to-cart-button-0-x-buttonText) {
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
}

.flexRowContent--selling-price-savings {
  margin-bottom: 5px;
}

.flexRowContent--footer-menu {
  flex-wrap: wrap;
}
.flexRowContent--footer-menu .stretchChildrenWidth {
  width: 100% !important;
}
.flexRowContent--footer-section {
  padding: 2rem 0;
  border-top: 1px solid #BCBABA;
  border-bottom: 1px solid #BCBABA;
}

.flexRow--footer-section {
  margin: 0 -10px;
}
.flexRow--footer-quality-seal .stretchChildrenWidth {
  justify-content: start;
  margin-top: 20px;
}
.flexRow--footer-menu .flexCol--info-icon-text {
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.flexRow--footer-menu .flexCol--info-icon-text .flexColChild--info-icon-text {
  display: flex;
}
.flexRow--footer-menu .flexCol--info-icon-text .flexColChild--info-icon-text :global(.vtex-store-components-3-x-imageElement) {
  margin-right: 10px;
  max-width: 24px;
  max-height: 24px;
}

.flexCol--payment-method-col {
  flex-direction: row;
}
.flexCol--payment-method-col::before {
  content: "FORMAS DE PAGAMENTO:";
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
  font-family: Poppins, sans-serif;
}
.flexCol--logo-col {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.flexColChild--footer-col {
  padding: 0 10px;
}
.flexColChild--footer-col.flexColChild--footer-col-1 {
  text-align: center;
  margin-bottom: 18px;
}
.flexColChild--footer-col.flexColChild--footer-col-4 .flexColChild--info-icon-text {
  align-items: center;
}
.flexColChild :global(.vtex-menu-2-x-styledLinkContainer) {
  margin: 0;
}
.flexColChild :global(.vtex-menu-2-x-styledLinkContainer) :global(.vtex-menu-2-x-styledLink):not(.forceCss) {
  background-color: transparent;
  border-radius: 0;
  padding: 0 0 0.5rem;
  min-height: unset;
  border: none;
  transition: unset;
  font-weight: 300;
  font-family: Poppins, sans-serif;
}
.flexColChild :global(.vtex-menu-2-x-styledLinkContainer) :global(.vtex-menu-2-x-styledLink):not(.forceCss) :global(.vtex-menu-2-x-styledLinkContent) {
  text-transform: none;
  font-weight: 300;
  font-size: 0.875rem;
}
