.flexRow--header-topbar {
  background-color: #F3A07A;
  background-image: url("assets/upper-gradient2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexCol.flexCol--topbar-col {
  flex-direction: row;
}

.flexColChild--topbar-col {
  display: flex;
}

.flexRowContent--main-header {
  background-color: #fff !important;
  justify-content: space-between;
  padding: 1rem 0 !important;
}

.flexCol--desk-header-col {
  flex-wrap: wrap;
  flex-direction: row;
}

.flexColChild--desk-header-col {
  width: 100%;
  align-items: center;
  display: flex;
}

.flexRowContent--category-menu {
  justify-content: center;
  padding-bottom: 1rem;
}

.flexCol--container, .flexRow--container {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
