.flexRow--home-deals
    background-color: #F5F5F5F5
    padding: 45px 0
    :global(.vtex-store-components-3-x-container)
        padding: 0
        max-width: unset
    :global(.vtex-flex-layout-0-x-flexCol)
        flex-direction: row
        align-items: center
.flexColChild--container.flexColChild--deals
    margin: auto
    :global(.vtex-rich-text-0-x-paragraph--deals)
        color: #545454

    .flexCol--dealsImage
        margin: 0 20px
    .flexColChild--dealsImage
        display: flex
        align-items: center
        :global(.vtex-store-components-3-x-imageElement)
            margin-right: 12px
            max-height: initial !important
            max-width: unset
        :global(.vtex-rich-text-0-x-paragraph--deals)
            text-align: left
            text-wrap: nowrap
            line-height: 1



//Home Banners

//Banner #1
.flexRow--home-banner-1
    :global(.vtex-store-components-3-x-container)
        padding: 0

        .flexCol
            &--banner-1-col-1
                padding-right: 1rem
            &--banner-1-col-2
                :global(.vtex-store-components-3-x-imageElementLink)
                    padding-bottom: 15px
            :global(.vtex-store-components-3-x-imageElementLink)
                display: flex

//Banner #2
.flexRow--home-banner-2
    :global(.vtex-store-components-3-x-container)
        padding: 0

        .flexCol--banner-2-four-side-by-side
            padding: 0 8px 0 7px

//Banner #3
.flexRow--home-banner-3
    :global(.vtex-store-components-3-x-container)
        padding: 0
    .flexCol
        &--banner-3-two
            &.flexCol--banner-3-col-1
                padding-right: 10px
            &.flexCol--banner-3-col-2
                padding-left: 10px

// Gray Section
:global(.vtex-render__container-id-bg-gray-section)
    background-color: #EEEEEEF5
    
    :global(.vtex-store-components-3-x-container)
        padding: 0 0 2rem

    .flexRow
        &--home-bg-gray-section-content
            margin: 0 -10px

    .flexRowContent
        &--home-bg-gray-section-content
            .flexCol
                border: 1px solid #BCBABA
                border-radius: 8px
                align-items: center
                padding: 2rem 1rem
            .stretchChildrenWidth
                padding: 0 10px
            
            :global(.vtex-rich-text-0-x-heading)
                margin: .5rem 0
                font-weight: 500
                font-size: 0.875rem
                font-family: Poppins, sans-serif
            :global(.vtex-rich-text-0-x-paragraph)
                font-weight: 300
                font-size: 0.75rem
                font-family: Poppins, sans-serif
                padding: 0 4.375rem
                margin: 0


// Instagram Feed
.flexRow
    &--static-instagram
        padding: 2rem 0
        

        :global(.vtex-rich-text-0-x-paragraph)
            margin: 0
            font-weight: 300
            font-size: 1.25rem
            font-family: Poppins, sans-serif
            max-width: 80%
            text-align: left

.flexCol
    &--static-instagram-right
        :global(.vtex-slider-layout-0-x-caretIcon)
            display: none !important

        :global(.vtex-slider-layout-0-x-slide)
            margin-bottom: 0 !important


.flexColChild
    &--static-instagram-left
        :global(.vtex-rich-text-0-x-container)
            height: 100%
            padding: 0 33px
            box-shadow: 9px 0px 8px -8px #00000040
            margin-right: 5px
    
    &--static-instagram-right
        padding: 0 3rem
        :global(.vtex-slider-layout-0-x-sliderLeftArrow)
            left: -3rem
        :global(.vtex-slider-layout-0-x-sliderRightArrow)
            right: -3rem