.flexRow--home-deals
    background-color: #F5F5F5F5
    padding: 45px 0
    :global(.vtex-store-components-3-x-container)
        padding: 0
        max-width: unset
    :global(.vtex-flex-layout-0-x-flexCol)
        flex-direction: row
        align-items: center
.flexColChild--container.flexColChild--deals
    margin: auto
    :global(.vtex-rich-text-0-x-paragraph--deals)
        color: #545454

    .flexCol--dealsImage
        margin: 0 20px
    .flexColChild--dealsImage
        display: flex
        align-items: center
        :global(.vtex-store-components-3-x-imageElement)
            margin-right: 12px
            max-height: initial !important
            max-width: unset
        :global(.vtex-rich-text-0-x-paragraph--deals)
            text-align: left
            text-wrap: nowrap
            line-height: 1



//Home Banners

//Banner #1
.flexRow--home-banner-1
    :global(.vtex-store-components-3-x-container)
        padding: 0

        .flexCol
            &--banner-1-col-1
                padding-right: 1rem
            &--banner-1-col-2
                :global(.vtex-store-components-3-x-imageElementLink)
                    padding-bottom: 15px
            :global(.vtex-store-components-3-x-imageElementLink)
                display: flex

//Banner #2
.flexRow--home-banner-2
    :global(.vtex-store-components-3-x-container)
        padding: 0