.flexRowContent
    &--footer-menu
        flex-wrap: wrap
        .stretchChildrenWidth
            width: 100% !important

    &--footer-section
        padding: 2rem 0
        border-top: 1px solid #BCBABA
        border-bottom: 1px solid #BCBABA

.flexRow
    &--footer-section
        margin: 0 -10px

    &--footer-quality-seal
        .stretchChildrenWidth
            justify-content: start
            margin-top: 20px

    &--footer-menu
        .flexCol
            &--info-icon-text
                flex-direction: row
                margin-bottom: .5rem
                .flexColChild
                    &--info-icon-text
                        display: flex

                        :global(.vtex-store-components-3-x-imageElement)
                            margin-right: 10px
                            max-width: 24px
                            max-height: 24px

.flexCol
    &--payment-method-col
        flex-direction: row
        &::before
            content: 'FORMAS DE PAGAMENTO:'
            display: flex
            align-items: center
            font-weight: 500
            font-size: 1rem
            margin-right: 1rem
            font-family: Poppins, sans-serif

    &--logo-col
        flex-direction: row
        display: flex
        align-items: center

.flexColChild
    &--footer-col
        padding: 0 10px
        &.flexColChild--footer-col-1
            text-align: center
            margin-bottom: 18px
        &.flexColChild--footer-col-4
            .flexColChild--info-icon-text
                align-items: center

    :global(.vtex-menu-2-x-styledLinkContainer)
        margin: 0
        :global(.vtex-menu-2-x-styledLink):not(.forceCss)
            background-color: transparent
            border-radius: 0
            padding: 0 0 .5rem
            min-height: unset
            border: none
            transition: unset
            font-weight: 300
            font-family: Poppins, sans-serif
            :global(.vtex-menu-2-x-styledLinkContent)
                text-transform: none
                font-weight: 300
                font-size: 0.875rem
