@use "../variables" as *

:global(.vtex-flex-layout-0-x-flexRow--category-menu)
    .menuContainerNav
        .styledLinkContainer
            margin: 0 30px 0 0
            display: flex
            align-items: center
            padding: 0
            .styledLink
                display: flex
                border-radius: 4px
                padding: 0 18px
                background-color: #FAFAFA
                min-height: 36px
                border: 1px solid transparent
                transition: all 0.1s ease
                &:hover
                    border-color: $sec-color
                    transform: scale(1.01)
                &--highlight
                    border: none
                    background-color: transparent
                    padding: 0
                    .styledLinkContent
                        color: $sec-color
                        

            .styledLinkIcon
                margin: 0 0.5rem 0 0
            .styledLinkContent
                font-size: 0.875rem
                font-weight: 500
                color: #000
                text-transform: uppercase
                font-family: $main-font
                display: flex
                align-items: center
                &--has-submenu
                    &::after
                        content: ""
                        width: 11px
                        height: 7px
                        background-image: url("assets/menu-arrow-down.svg")
                        background-repeat: no-repeat
                        background-size: contain
                        margin-left: 8px

// menuItem = <li>
.menuItem
    &--isOpen
        .styledLinkContent
            &--has-submenu
                &::after
                    transform: rotate(180deg)


//Submenu
.submenuWrapper
    margin: 0
    width: 100%

.submenuContainer:not(.forceStyle)
    position: static
    .flexRowContent--category-menu
        justify-content: center
        padding-bottom: 1rem
        position: relative

    .submenu
        justify-content: start

.menuContainerNav
    &--first-submenu-container
        display: block
        width: 100%
        .menuContainer--first-submenu-container
            max-height: 250px
            overflow-y: scroll
            display: block
            column-count: 3
            .menuItem
                break-inside: avoid
.menuItem
    .menuItem
        .styledLink
            margin-bottom: .5rem
        .styledLinkContent
            text-transform: none

    &--first-submenu
        .styledLinkContainer
            margin: 0
            
        .submenuWrapper
            padding: 0 2rem
            border: none



//Subs inside subs
.submenuContainer--thirty-menu:not(.forceStyle)
    .submenuWrapper--thirty-menu
        display: flex
        position: relative


