@use "../variables" as *

//Topbar
.flexRow--header-topbar
    background-color: $main-color

.flexCol.flexCol--topbar-col
    flex-direction: row

.flexColChild--topbar-col
    display: flex

//Header
.flexRowContent--main-header
    background-color: #fff !important
