.wrapper--sticky-header
    background-color: #fff !important

.container--sticky-header
    background-color: #fff
    :global(.vtex-flex-layout-0-x-flexRowContent--main-header)
        box-shadow: none !important