@use "../variables" as *

//Top bar
//Left text before icon
.paragraph--topbar-message
    font-size: 1.25rem
    font-family: $main-font
    font-weight: 300
    margin: 0.625rem 0

    .strong--topbar-message
        font-weight: 600

//Last text
.paragraph--warning-message
    margin: 0.625rem 0
    background-color: #000
    color: #fff
    height: 24px
    font-weight: 700
    font-size: .625rem
    padding: 0 .75rem
    display: flex
    align-items: center
    border-radius: 4px
