@use "../variables" as *

//Topbar
.flexRow--header-topbar
    background-color: $main-color
    background-image: url("assets/upper-gradient2.png")
    background-position: center
    background-repeat: no-repeat
    background-size: cover

.flexCol.flexCol--topbar-col
    flex-direction: row

.flexColChild--topbar-col
    display: flex

//Header
.flexRowContent--main-header
    background-color: #fff !important
    justify-content: space-between
    padding: 1rem 0 !important

.flexCol--desk-header-col
    flex-wrap: wrap
    flex-direction: row

.flexColChild--desk-header-col
    width: 100%
    align-items: center
    display: flex


//Menu

//Submenu
.flexRowContent--container
    position: relative