//Topbar middle image
.imageElement--topbar-star
    padding: 0 .5rem
    box-sizing: border-box



// Header

// Wishlist
.imageElementLink--wishlist-icon
    display: flex
    align-items: center
    justify-content: center
.imageElement--wishlist-icon
    object-fit: cover
    object-position: top
    transition: object-position 0.1s ease
    &:hover
        object-position: bottom