@use "../variables" as *

//Topbar
.flexRow--header-topbar
    background-color: $main-color

.flexCol.flexCol--topbar-col
    flex-direction: row

.flexColChild--topbar-col
    display: flex

//Header
.flexRowContent--main-header
    background-color: #fff !important
    justify-content: space-between
    padding: 0.5rem 0

.flexCol--desk-header-col
    flex-wrap: wrap
    flex-direction: row

.flexColChild--desk-header-col
    width: 100%