.openIconContainer
    padding: 6px
    :global(.vtex-button)
        border: none
        &:hover
            background-color: transparent
    :global(.vtex-button__label)
        padding: 0

    .minicartQuantityBadge
        background-color: #000000
        color: #fff
        font-size: 0.5rem
        font-weight: 600
        top: 2px
        right: 0
        width: 14px
        height: 14px
        box-sizing: border-box

.minicartIconContainer
    &:hover
        .cartIcon
            transform: scale(1.2)

    .cartIcon
        width: 31px
        height: 31px